:root {
  --background: #ffffff;
  --foreground: #000000;
  --accent: #7fd0fc;
  --header-bg: url(/header_bg.svg);
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
  --accent: #d870c3;
  --header-bg: url(/header_bg_dark.svg);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.bg-background {
  background-color: var(--background);
}

.bg-accent {
  background-color: var(--accent);
}

.fill-foreground {
  fill: var(--foreground);
}

.fill-background {
  fill: var(--background);
}

.stroke-foreground {
  stroke: var(--foreground);
}

html.disable-transitions *,
html.disable-transitions *::before,
html.disable-transitions *::after {
  transition: none !important;
  animation: none !important;
}
